.content {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 40px 78px;
}

.containerGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-top: 2rem;
  align-items: center;
  gap: 1.5rem;
}

@media (max-width: 992px) {
  .containerGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media (max-width: 600px) {
  .containerGrid {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
